.containter-2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.formularz {
  width: 40%;
  max-width: 650px;
  margin-top: 5vw;
  margin-bottom: 5vw;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 10%;
  border-style: hidden;
  box-shadow: inset 0 0 10px #2196f3,
    /* inner white */ inset 10px 0 20px rgb(57, 16, 129),
    0 0 50px 5px rgb(12, 5, 90), /* inner white */ 0 0 30px 10px rgb(23, 8, 90),
    /* middle magenta */ 0 0 30px 5px rgb(24, 5, 93); /* outer cyan */
}
.insideForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.insideForm label {
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.3rem;
}
.insideForm .form-control {
  padding: 5px;
  border-style: hidden;
  width: 70%;
}

.addbtn {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 20px 0px 20px 0px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  background: transparent;
  border-style: hidden;
}

.addbtn:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

.addbtn span {
  position: absolute;
  display: block;
}

.addbtn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.addbtn:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.addbtn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.addbtn:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.addbtn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.addbtn:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.addbtn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

.addbtn:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.table-cont {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.table-cont form {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 2%;
  border-style: hidden;
  box-shadow: inset 0 0 10px #2196f3,
    /* inner white */ inset 10px 0 20px rgb(57, 16, 129),
    0 0 50px 5px rgb(12, 5, 90), /* inner white */ 0 0 30px 10px rgb(23, 8, 90),
    /* middle magenta */ 0 0 30px 5px rgb(24, 5, 93); /* outer cyan */
}
.table-cont table {
  border-style: hidden;
  color: white;
}
.sum {
  text-align: right;
}
.filter {
  width: 20%;
  margin-bottom: 30px;
  margin-top: 30px;
  z-index: 999;
  align-items: right;
  justify-content: right;
}

.changebtn {
  position: relative;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px 0px 10px 0px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  background: transparent;
  border-style: hidden;
}
.changebtn:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px rgb(33, 150, 243), 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.5s;
}

table #fill:after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background: #134c7b;
}
table th {
  font-weight: 500;
  font-size: 1.3rem;
}

table td {
  font-size: 1rem;
  font-weight: 400;
  width: 20%;
}

@media (min-width: 801px) {
  .formularz {
    min-width: 500px;
  }
}
@media (max-width: 800px) {
  .formularz {
    width: 100%;
    background-color: rgba(12, 12, 12, 0.9);
  }
  .table-cont form {
    width: 100%;
  }
  .sum {
    text-align: center;
  }
}
@media (max-width: 1139px) {
  .table-cont #btnTD button {
    margin: 0;
  }
}
@media (max-width: 800px) {
  .table thead {
    display: none;
  }
  .table-cont table,
  .table-cont table tbody,
  .table-cont table tr,
  .table-cont table td,
  .table-cont #btnTD,
  .table-cont {
    display: block;
    width: 100%;
  }

  .table-cont #btnTD #btn2 {
    margin-left: 20px;
  }
  .table-cont #btnTD #btn1 {
    margin-right: 20px;
  }
  .table-cont form {
    background-color: rgba(12, 12, 12, 0.9);
  }
  .filter {
    width: 50%;
  }
}
